body {
}

img {
  max-width: 100%;
  height: auto;
}

.sidebar {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 220px;
  background-color: #333;
}

.sidebarTitle {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: #999;
  font-style: italic;
}

.itemInSidebar {
  width: 100%;
  margin: 2px 0;
  padding: 4px 0;
  background-color: #444;
  display: block;
  text-align: center;
  font-style: bold;
}

.itemInSidebar:hover {
  background-color: #ddd;
}

.site {
  position: fixed;
  left: 220px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.siteContent {
  max-width: 700px;
  padding: 5px 30px 100px 30px;
  background-color: #f6f7f9
}

h1 {
  margin-top: 30px;
}
