_site

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Ignore build dir. This will only be submitted to npm / used when
# building the browser version in the `dist` folder
build

npm-debug.log
node_modules

bower_components
*testConfig.js.local

# OSX ignore
.DS_Store