<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/stackedit.css">
		<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>

		<div class="sidebar">

			<div class="sidebarTitle">snoocore</div>

			<a class="itemInSidebar" href="/">
			Home</a>

			<a class="itemInSidebar" href="/install.html">
			Install &amp; Include</a>

			<a class="itemInSidebar" href="/identify.html">
			Identify with Reddit</a>

			<a class="itemInSidebar" href="/config.html">
			Configuration Options</a>

			<a class="itemInSidebar" href="/oauth.html">
			OAuth Login</a>

			<a class="itemInSidebar" href="/cookies.html">
			Cookie Login</a>

			<a class="itemInSidebar" href="/promises.html">
			Promises with snoocore</a>

			<a class="itemInSidebar" href="/tests.html">
			Running Tests</a>

		</div>

		<div class="site">
			{{ content }}
		</div>

	</body>
</html>
